<ion-content *ngIf="!showAccessButton">
  <ion-item>
    <ion-label position="floating">
      Enter your username (5 chars min)
    </ion-label>
    <ion-input type="name" minlength="5" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-button (click)="setUserName()"> Next</ion-button>
</ion-content>

<!-- cuando inicie sesion mostrar esto pa entrar -->
<ion-content *ngIf="showAccessButton">
  <ion-list>
    <ion-list-header>Welcome {{name}}</ion-list-header>
    <ion-button [routerLink]="['/../rooms']" > ACCESS CHAT</ion-button>
  </ion-list>
</ion-content>
